.main-text h1 {
    text-align: right;
    font-family: 'Playfair Display', serif;
    font-size: 100px;
    margin-top: 270px;
    margin-right: 250px;
    margin-bottom: 0;
}

.main-text p {
    text-align: right;
    font-family: 'Playfair Display', serif;
    font-size: 30px;
    margin-top: 30px;
    margin-right: 220px;
    margin-bottom: 550px;
    color: black;
}

h2 {
    text-align: center;
    font-family: 'Playfair Display', serif;
}

.main-middle h3 {
    border-bottom: 1px solid #30535a;
    line-height: .1em;
    font-size: 42px;
    text-align: center;
    font-family: 'Playfair Display SC', serif;
    margin: 100px 100px;
}

.main-middle h3 span {
    background-color: white;
    padding: 20;
}


.card-image {
	display: block;
	min-height: 100px; /* layout hack */
	background: #fff center center no-repeat;
	background-size: cover;
	filter: 
}

.card-image > img {
	display: block;
	width: 100%;
	opacity: 0; /* visually hide the img element */
}

.card-image.is-loaded {
	filter: none; /* remove the blur on fullres image */
	transition: filter 1s;
}


/* Layout Styles */
.card-list {
	display: block;
	margin: 1rem auto;
	padding: 0;
	font-size: 0;
	text-align: center;
	list-style: none;
}

.card {
	display: inline-block;
	width: 90%;
	max-width: 20rem;
	margin: 1rem;
	font-size: 1rem;
	text-decoration: none;
	overflow: hidden;
	box-shadow: 0 0 3rem -1rem rgba(0,0,0,0.5);
	transition: transform 0.1s ease-in-out, box-shadow 0.1s;
}

.card:hover {
	transform: translateY(-0.5rem) scale(1.0125);
	box-shadow: 0 0.5em 3rem -1rem rgba(0,0,0,0.5);
}

.card-description {
	display: block;
	padding: 1em 0.5em;
	color: #515151;
	text-decoration: none;
}

.card-description > h2 {
	margin: 0 0 0.5em;
}

.card-description > p {
	margin: 0;
}
.banner-g {
    color: white;
	font-family: 'Montserrat', 'Athiti', sans-serif;
	text-align: left;
    margin-left: 80px;
    padding-bottom: 160px;
    padding-top: 160px;
    text-shadow: 0 2px 7px black;
}

.banner-g h1 {
    font-size: 60px;
    margin-bottom: 0px;
}

.banner-g p {
    font-size: 29px;
    margin-top: 0px;
}

.main-middle {
    text-align: center;
}

.main-middle h2 {
    font-size: 80px;
    margin-bottom: 0px;
}

.main-middle p {
    font-size: 29px;
    margin-top: 10px;
    color: ;
}

.gallery { 
    
}

.gallery h1 {
    color: black;
    font-size: 60px;
    text-align: center;
    margin-bottom: 0px;
    margin-top: 1px;
    padding-bottom: 10px;
    padding-top: 20px;
    background-color: white;
    
}

.box {
    
}

.photo {
    margin: 0px 100px;
    padding: 60px 0px;
    padding-left: 100px;
    padding-bottom: 850px;
    margin-bottom: 0px;
    margin-top: 50px;
    height: auto;
    
    
}

.photo img {
    transition: .5s;
    padding: 10px;
    width: 400;
    
}

.photo img:hover {
    
    transform: scale(0.9)
}

a.big {
    width: 10%
}

* {
    box-sizing: border-box;
}


.column {
    float: left;
    width: 30%;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.8);
}

.modal-content {
    position: relative;
    margin: 0px;
    left:400px;
    top:100;
    width: 1200px;
    

}

.close {
    color: white;
    position: absolute;
    top: 10px;
    right: 25px;
    font-size: 35px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #999;
    text-decoration: none;
    cursor: pointer;
}

.mySlides {
    display: none;
}

.cursor {
    cursor: pointer;
}

.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -50px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
    -webkit-user-select: none;
    
}

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
    
}

.prev:hover,
.next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}
